
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;800&display=swap'); 




*{
  box-sizing: border-box;
}

:root{
  --lightbrown:#47412a;
}


body {
  background: #fffcf9;
  /* background: black; */
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:var(--lightbrown);
  width: 100vw;
  /* height: 1000vh; */
  scroll-behavior: smooth;
  scrollbar-color: red;
  position: relative;
}

code {
  font-family: 'Abril Fatface', sans-serif,cursive;
}

nav {
  align-items: center;
  border-bottom: 2px solid var(--lightbrown);
  display: flex;
  height: 70px;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px 0 50px;
}

.nav--left {
  display: flex;
  font-size:18px;
  justify-content: space-between;
  width: 150px;
}

.nav--right {
  font-size: 18px;
  text-align: right;
  width: 150px;
}

.nav--link > h4 {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.nav--link {
  text-decoration:none;
  color:var(--lightbrown);
}

.lacasa {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lacasa> img {
  display: block;
  max-width:90px;
  max-height:90px;
  height: auto;
  width: auto;
  float: right;
}

.hero {
  margin: 0 50px 100px 50px;
  padding-bottom: 80px;
  border-bottom:2px solid var(--lightbrown);
}

.hero--title {
  /* display: flex; */
  font-family: 'Abril Fatface', cursive;
  font-size: 43px;
  font-weight: lighter;
  text-align: center;
}

.hero--title > h1 {
  display: inline;
  margin: 0;
  letter-spacing: 10px;
  /* float:left; */
}

/* .hero--title > img {
  
  float:right;
} */

.heroImage{
  display: block;
  /* max-width:100vw;
  max-height:100vh; */
  height: 78vh;
  width: 100%;
  object-fit: cover;
}

.hero--explore {
  margin-top: 20px;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.hero--explore > p{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
.exploreButton{
  width: 16%;
  border:2px solid var(--lightbrown);
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  color:var(--lightbrown);
  font-size: 30px;
  height: 50px;
  border-radius: 5px;
}

.exploreButton:hover {
  background-color:var(--lightbrown);
  border:2px solid #fffcf9;
  color:#fffcf9;
}

.exploreButton:active{
  box-shadow: inset 0px 0px 5px #fffcf9;
}

.seatGallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* height:700px !important; */
}

.gallerySeat {
  /* padding-top: 150px; */
  /* background: #faf2ea; */
  border-radius: 120px;
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.gallerySeat > img {
  display: block;
  /* max-width: 800px;
  max-height:800px;
  width: auto;
  height: auto; */
  width: 400px;
  height: 400px;
  object-fit:scale-down;
}

.infoGallerySeat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seatPrice  {
  margin: 0 0 10px 0;
  font-weight: 800;
  font-size: large;
}

.infoGallerySeat>h3, .leftAnimateMiddle>h3{
  margin-top: 50px;
  margin-bottom: 5px;
  /* font-weight:800; */
}

.seatDetails{
  text-decoration: underline;
  font-weight: 800;
  margin: 10px;
  cursor:pointer;
}



.swiper-slide-active {
  object-fit: cover;
  /* height: 700px !important; */
}

.seatsSwiper {
  width:75%;
  /* height:700px !important; */
  
}

.swiper-button-prev {
  background-image: url(./images/swiper/MyprojectleftArrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width:100px !important;
  height:100px !important;
  /* position: relative !important;
  top:0px ; */
  /* padding-right: 100px; */
}
.swiper-button-next {
  background-image: url(./images/swiper/MyprojectrightArrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width:100px !important;
  height:100px !important;
  /* position: relative !important;
  left:10px !important; */
}

.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  display: none;
}

.bestseller {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
}

.bestseller >h1{
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.bestseller--rightLine, .bestseller--leftLine {
  width: 30%;
  height: 2px;
  background: var(--lightbrown);
}


.eloLeft{
  display: block;
  position: relative;
  left: 8%;
  margin-right:40px;
}
.eloRight{
  display: block;
  position: relative;
  right: 8%;
  margin-left:40px;
}

.eloLeft>img, .eloRight>img{
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width:auto;
  cursor: pointer;
}

.fa-arrow-right-long, .fa-arrow-left-long {


  cursor: pointer;
}

.arrowRight:active{
  opacity:0.5;
  
}
.arrowLeft:active{
  opacity:0.5;
  
}

.gallerySeat>img:hover{
  /* object-fit:cover; */
  width: 320px;
  height:420px;
}

.explore {
  margin-top:100px;
  background: #faf2ea;
  /* height:500%; */
  padding: 200px 10% 100px 10%;
}

@media only screen and (max-width: 1612px) {
  .explore{padding: 200px 5% 200px 5%;}
}

@media only screen and (max-width: 1422px) {
  .explore{padding: 200px 3% 200px 3%;}
  .up3 {left:30%;}
}

.explore--down,.explore--up{
  display: flex;
  justify-content: space-between;
  gap:10%;
}

.explore--down{
  margin-top:-5%;
  position:relative;
  z-index: 2;
}

.explore--product >img{
  max-width: 900px;
  max-height: 900px;
  width:auto;
  height:auto;
}

.explore--product >img:hover{
  opacity:0.5
}

.explore--product--info {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.explore--product--info > p{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.explore--product--info > h1{
  margin:0;
}

.explore--desc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.explore--desc >h1{
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
}

.explore--desc >p {
  line-height:45px;
  font-size: 25px;
}

.exploreButton2 {
  width: 50%;
  border:2px solid var(--lightbrown);
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  color:var(--lightbrown);
  font-size: 20px;
  height: 50px;
  border-radius: 5px;
}

.exploreButton2:hover {
  background-color:var(--lightbrown);
  border:2px solid #faf2ea;
  color:#faf2ea;
}

.exploreButton2:active{
  box-shadow: inset 0px 0px 5px #faf2ea;
}

.up3 {
  max-width: 85%;
  max-height:85%;
  height: auto;
  width: auto;
  position:relative;
  /* top:5%; */
  left:35%;

  overflow: hidden;
}

.down1 {
  max-width: 75%;
  max-height:75%;
  height: auto;
  width: auto;
  position:relative;
  z-index: -2;
  top:-10%;
  right:-50%;
}

.damnSure {
  width:100%;
  height: 350px;
  color:#fffcf9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 250%;
  font-family: 'Abril Fatface', cursive;
  background-image: url("./images/pexels-jonathan-borba-3263716.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.damnSure > h1 {
  text-shadow: 0 0 5px var(--lightbrown);
}

@media only screen and (max-width: 1612px) {
  .explore{padding: 200px 5% 200px 5%;};
}

@media only screen and (max-width: 1612px) {
  .up3 {left:25%;}
}

@media only screen and (max-width: 1422px) {
  .explore{padding: 200px 3% 200px 3%;}
}

@media only screen and (max-width: 1422px) {
  .up3 {left:20%;}}

.topGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.topGallery--slider{
  display: flex;
  gap:20px;
  width:90vw;
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width:410px;
  scrollbar-color: red;
}

/* .topGallery--slider::-webkit-scrollbar {
  width: 12px;
  background-color: red;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: red;
}

.topGallery--slider::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
} */

.topProduct {
  width: 400px;
  height: 600px;
}

.topProduct--imageDiv {
  background: #faf2ea;
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

.topProduct--imageDiv >img{
  max-width: 500px;
  max-height: 600px;
  /* height: 600px;
  width: 500px; */
  object-fit:cover;
  pointer-events: none;
}

.topProduct--imageDiv:hover >img {
  max-height: 700px;
  max-width: 600px;
}

.topProduct--imageDiv >p {
  position: relative;
  z-index: 2;
  /* bottom:20px;
  left:20px; */
}

.topProduct--details {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  height: 12%;
}

.topProduct--details > h3{
  margin:2vh 0 0 0;
}

/* .topProduct--details > h3 {
  font
} */

.topProduct--details--priceWithDiscount {
  height: 70px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-end;
}

.topProduct--details--priceWithDiscount > h2{
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #fec501;
  font-weight:bolder;
}

.topProduct--details--priceWithDiscount > p {
  margin: 1vh 0 0 0;
  font-size: 20px;
  text-decoration: line-through;
}

.topProductDiscountInfo {
  position: relative;
  top:-80%;
  left:3%;
  color:#fec501;
}

.findOut {
  display: flex;
  flex-wrap: wrap;
  margin-top: 125px;
  padding: 0 3% 35% 3%;
  gap:2%;
  height:230vh;
  /* margin-bottom: 100vh; */
}

.findOut--first {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0;
  margin-bottom: 5%;

}

.findOut--Wide1--container > h2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 0;
  color:#fffcf9;
  text-decoration: underline;
  z-index: 1;
  cursor: pointer;
}

.findOut--Wide1--container {
  background: var(--lightbrown);
  height: 90%;
  width: 100%;
  position: relative;
  text-align: center;
}

.findOut--Wide1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.findOut--Wide1:hover {
  opacity: 0.5;
}

.findOut--Wide1--container > h2:hover ~ .findOut--Wide1 {
  opacity: 0.5;
}

.findOut >div >p{
  font-size: 20px;
}



.findOut--Small1--container {
  height: 75%;
  width:100%;
  background: var(--lightbrown);
  position:relative;
}
.findOut--Small1 {
  height: 100%;
  width:100%;
  object-fit: cover;
}

.findOut--Small1--container > h2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 0;
  color:#fffcf9;
  text-decoration: underline;
  z-index: 1;
  cursor: pointer;
}
.findOut--Small1:hover {
  opacity: 0.5;
}

.findOut--Small1--container > h2:hover ~ .findOut--Small1 {
  opacity: 0.5;
}


.findOut--GreenWall--container {
  height: 75%;
  width:100%;
  background: var(--lightbrown);
  position:relative;
}
.findOut--GreenWall {
  height: 100%;
  width:100%;
  object-fit: cover;
}

.findOut--GreenWall--container > h2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 0;
  color:#fffcf9;
  text-decoration: underline;
  z-index: 1;
  cursor: pointer;
}
.findOut--GreenWall:hover {
  opacity: 0.5;
}

.findOut--GreenWall--container > h2:hover ~ .findOut--GreenWall {
  opacity: 0.5;
}


.findOut--second {
  margin-top:0;
  width: 49%;
  /* height: 100vh; */
}

.findOut--third {
  width: 49%;
  margin-top:0;
}

footer {
  height:400px;
  /* background: red; */
  width: 100%;
  width:100vw;
  position:absolute;
  bottom:0;
  /* margin-top: 20vh; */
}

.footer--up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #faf2ea;
  padding: 3% 5% 5% 5%;
}

.footer--up>h1 {
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  z-index: 1;
}

.footer--up>div{
  width:27%;
  border-bottom: 1px solid #47412a;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer--up>div>input {
  background: transparent;
  border:0;
  outline:none;
  color:#47412a;
  font-size: 17px;
  width:300px;
}

.footer--up>div>button {
  background: #47412a;
  color:#faf2ea;
  font-size: 17px;
  border:0;
  border-radius: 5%;
  width:150px;
  height: 40px;
  cursor: pointer;
}

.footer--up>div>button:active {
  color:#47412a;
  background:#faf2ea;
  border:2px solid #47412a;
}

.footer--down {
  background: var(--lightbrown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#faf2ea;
  padding: 5% 10% 5% 10%;
  position: relative;
}

.footer--down--left >h2{
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  z-index: 1;
  
}

.footer--down--right{
  display: flex;
  justify-content: space-between;
  gap:40px;
  width: 10%;
  
}

.footer--down--right>div {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.footer--down--right>div>h3 {
  cursor: pointer;
  z-index: 1;
  position: relative;
}

#downFooter {
  position: absolute;
  bottom: 0;
  right:30%;
  max-width: 350px;
  max-height: 120px;
  height: auto;
  width: auto;
}

#cornerFooter {
  position: absolute;
  bottom:0;
  right:0;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
}

#mainFooter {
  top:-130px;
  right:40%;
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  z-index: 0;
}