
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;800&display=swap'); 




*{
  box-sizing: border-box;
}

:root{
  --lightbrown:#47412a;
}


body {
  background: #fffcf9;
  /* background: black; */
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:var(--lightbrown);
  width: 100vw;
  height: 300vh;
  scroll-behavior: smooth;
}

code {
  font-family: 'Abril Fatface', sans-serif,cursive;
}

nav {
  align-items: center;
  border-bottom: 2px solid var(--lightbrown);
  display: flex;
  height: 70px;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px 0 50px;
}

.nav--left {
  display: flex;
  font-size:18px;
  justify-content: space-between;
  width: 150px;
}

.nav--right {
  font-size: 18px;
  text-align: right;
  width: 150px;
}

.nav--link > h4 {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.nav--link {
  text-decoration:none;
  color:var(--lightbrown);
}

.lacasa {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lacasa> img {
  display: block;
  max-width:90px;
  max-height:90px;
  height: auto;
  width: auto;
  float: right;
}

.hero {
  margin: 0 50px 100px 50px;
  padding-bottom: 80px;
  border-bottom:2px solid var(--lightbrown);
}

.hero--title {
  /* display: flex; */
  font-family: 'Abril Fatface', cursive;
  font-size: 43px;
  font-weight: lighter;
  text-align: center;
}

.hero--title > h1 {
  display: inline;
  margin: 0;
  letter-spacing: 10px;
  /* float:left; */
}

/* .hero--title > img {
  
  float:right;
} */

.heroImage{
  display: block;
  /* max-width:100vw;
  max-height:100vh; */
  height: 78vh;
  width: 100%;
  object-fit: cover;
}

.hero--explore {
  margin-top: 20px;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.hero--explore > p{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
.exploreButton{
  width: 16%;
  border:2px solid var(--lightbrown);
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  color:var(--lightbrown);
  font-size: 30px;
  height: 50px;
  border-radius: 5px;
}

.exploreButton:hover {
  background-color:var(--lightbrown);
  border:2px solid #fffcf9;
  color:#fffcf9;
}

.exploreButton:active{
  box-shadow: inset 0px 0px 5px #fffcf9;
}

.seatGallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* height:700px !important; */
}

.gallerySeat {
  /* padding-top: 150px; */
  /* background: #faf2ea; */
  border-radius: 120px;
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.gallerySeat > img {
  display: block;
  /* max-width: 800px;
  max-height:800px;
  width: auto;
  height: auto; */
  width: 400px;
  height: 400px;
  object-fit:scale-down;
}

.infoGallerySeat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seatPrice  {
  margin: 0 0 10px 0;
  font-weight: 800;
  font-size: large;
}

.infoGallerySeat>h3, .leftAnimateMiddle>h3{
  margin-top: 50px;
  margin-bottom: 5px;
  /* font-weight:800; */
}

.seatDetails{
  text-decoration: underline;
  font-weight: 800;
  margin: 10px;
  cursor:pointer;
}



.swiper-slide-active {
  object-fit: cover;
  /* height: 700px !important; */
}

.seatsSwiper {
  width:75%;
  /* height:700px !important; */
  
}

.swiper-button-prev {
  background-image: url(./images/swiper/MyprojectleftArrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width:100px !important;
  height:100px !important;
  /* position: relative !important;
  top:0px ; */
  /* padding-right: 100px; */
}
.swiper-button-next {
  background-image: url(./images/swiper/MyprojectrightArrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width:100px !important;
  height:100px !important;
  /* position: relative !important;
  left:10px !important; */
}

.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  display: none;
}

.bestseller {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
}

.bestseller >h1{
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.bestseller--rightLine, .bestseller--leftLine {
  width: 30%;
  height: 2px;
  background: var(--lightbrown);
}


.eloLeft{
  display: block;
  position: relative;
  left: 8%;
  margin-right:40px;
}
.eloRight{
  display: block;
  position: relative;
  right: 8%;
  margin-left:40px;
}

.eloLeft>img, .eloRight>img{
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width:auto;
  cursor: pointer;
}

.fa-arrow-right-long, .fa-arrow-left-long {


  cursor: pointer;
}

.arrowRight:active{
  opacity:0.5;
  
}
.arrowLeft:active{
  opacity:0.5;
  
}

.gallerySeat>img:hover{
  /* object-fit:cover; */
  width: 320px;
  height:420px;
}

.explore {
  margin-top:100px;
  background: #faf2ea;
  /* height:500%; */
  padding: 200px 10% 100px 10%;
}

@media only screen and (max-width: 1612px) {
  .explore{padding: 200px 5% 200px 5%;}
}

@media only screen and (max-width: 1422px) {
  .explore{padding: 200px 3% 200px 3%;}
  .up3 {left:30%;}
}

.explore--down,.explore--up{
  display: flex;
  justify-content: space-between;
  gap:10%;
}

.explore--down{
  margin-top:-5%;
  position:relative;
  z-index: 2;
}

.explore--product >img{
  max-width: 900px;
  max-height: 900px;
  width:auto;
  height:auto;
}

.explore--product >img:hover{
  opacity:0.5
}

.explore--product--info {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.explore--product--info > p{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.explore--product--info > h1{
  margin:0;
}

.explore--desc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.explore--desc >h1{
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
}

.explore--desc >p {
  line-height:45px;
  font-size: 25px;
}

.exploreButton2 {
  width: 50%;
  border:2px solid var(--lightbrown);
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  color:var(--lightbrown);
  font-size: 20px;
  height: 50px;
  border-radius: 5px;
}

.exploreButton2:hover {
  background-color:var(--lightbrown);
  border:2px solid #faf2ea;
  color:#faf2ea;
}

.exploreButton2:active{
  box-shadow: inset 0px 0px 5px #faf2ea;
}

.up3 {
  max-width: 85%;
  max-height:85%;
  height: auto;
  width: auto;
  position:relative;
  /* top:5%; */
  left:35%;

  overflow: hidden;
}

.down1 {
  max-width: 75%;
  max-height:75%;
  height: auto;
  width: auto;
  position:relative;
  z-index: -2;
  top:-10%;
  right:-50%;
}

.damnSure {
  width:100%;
  height: 350px;
  color:#fffcf9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 250%;
  font-family: 'Abril Fatface', cursive;
  background-image: url("./images/pexels-jonathan-borba-3263716.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.damnSure > h1 {
  text-shadow: 0 0 5px var(--lightbrown);
}

@media only screen and (max-width: 1612px) {
  .explore{padding: 200px 5% 200px 5%;};
}

@media only screen and (max-width: 1612px) {
  .up3 {left:25%;}
}

@media only screen and (max-width: 1422px) {
  .explore{padding: 200px 3% 200px 3%;}
}

@media only screen and (max-width: 1422px) {
  .up3 {left:20%;}}